{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "http://www.masterclass.com/{basePath}",
      "variables": {
        "basePath": {
          "default": "jsonapi/v1"
        }
      }
    }
  ],
  "info": {
    "description": "This is a POC",
    "version": "1.0.0",
    "title": "MC Camp Featured Project",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "paths": {
    "/camps/(:slug|:id)/featured-projects": {
      "get": {
        "summary": "Get Camp featured projects",
        "description": "This can only be done by the logged in user.",
        "operationId": "getCampFeaturedProjects",
        "parameters": [
          {
            "name": "campId",
            "in": "path",
            "description": "ID of the camp that the featured projects are related to to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "slug of the camp that the featured projects are related to to return",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampFeaturedProject"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid id/slug value"
          },
          "404": {
            "description": "CampFeaturedProject not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CampFeaturedProject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          },
          "media_type": {
            "type": "string"
          },
          "position": {
            "type": "string"
          }
        }
      }
    }
  }
}
